

@media screen and (min-width: 768px) {
    body { padding-top: 50px; }
}

@media only screen and (max-width: 767px){
    body{ padding-top: 138px;}
}

.custom-nav{
    margin-bottom: 0px;
}

.container{
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
}

.nav-a{
    color: #9d9d9d;
    
}

.nav-a:hover{
    color: #FFFFFF;
}
.nav-a:focus {
    color: #FFFFFF;
}
.nav-a:hover , .nav-a:focus{
    text-decoration: transparent;
}


